.SignIn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.SignIn__heading {
    font-size: 36px;
    margin-bottom: 40px;
    text-align: center;
}

.SignIn__form {
    background-color: #fff;
    width: 300px;
    height: 400px;
    box-shadow: 0 10px 10px -5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px;
}


.SignIn__input {
    padding: 5px;
    margin: 10px 0;
    font-size: 20px;
}

.SignIn__err_msg {

}

.SignIn__btn {
    margin: 10px 0;
    padding: 5px;
    font-size: 20px;
}

.SignIn__btn:hover {

}
