.Success {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.block {
    background-color: #fff;
    width: 300px;
    border-radius: 5px;
    box-shadow: 0 5px 10px -5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px;
}

.heading {
    font-size: 30px;
    margin-top: 30px;
    text-align: center;
}

.text {
    margin-top: 30px;
    font-size: 16px;
    text-align: center;
}

.btn {
    margin: 30px 0;
    padding: 5px;
    font-size: 20px;
    border-radius: 5px;
    text-decoration: none;
}

.btn:hover {
    background-color: #343A40;
    color: #fff;
    cursor: pointer;
}
