* {
    margin: 0;
    padding: 0;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #E6EAED;
}

/* Container */
.container {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    flex-grow: 1;
}

/* Header */
.header {
    display: flex;
    align-items: center;
    background-color: #32393E;
    color: #fff;
    height: 68px;
}

.header__brand {
    font-size: 40px;
    padding: 10px 20px;
}

/* CSS Grid */
.content {
    min-height: calc(100vh - 68px - 40px); /* header and footer */
    display: grid;
    grid-template-columns: 1fr 5fr;
}

/* Menu */
.menu {
    /*min-height: calc(100vh - 68px - 40px); !* header and footer *!*/
    background-color: #474F55;
    padding: 10px 0;
}

.menu__item {
    display: flex;
    align-items: center;
    list-style-type: none;
    text-decoration: none;
    padding: 10px 16px;
    color: #fff;
    position: relative;
}

.menu__item:hover {
    background-color: #798791;
}

.menu__item.active {
    background-color: #3B4247;
}

.menu__item.active:before {
    content: "";
    display: block;
    width: 5px;
    height: 100%;
    background-color: #0074F2;
    position: absolute;
    top: 0;
    right: 0;
}

.divider {
    border: 1px solid #3B4247;
    margin: 10px 0;
}

/* Footer */
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #B9C0C5;
    color: #3F3C43;
    height: 40px;
}
